<div class="container">
  <div class="row">
    <div class="col-md-8 pt-3">
        <h2>商品一覧</h2>
        <table class="table table-striped">
            <tr>
                <td>商品ID</td>
                <td>商品名</td>
                <td>税抜価格</td>
                <td>ジャンル</td>
                <td>ステータス</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
                <div class="pagination">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>Next></p>
                    <p>Last>></p>
                </div>
        </div>
    </div>
</div>

