
  <body>
    <div class="container">
      <div class = "row">
        <div class="col-3">
          ここにジャンルの部分テンプレート
        </div>
        <!--ECサイト説明部分-->
        <div class="col-9">
          <h2>ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
          </h2>

          <h4>新着商品</h4>
            繰り返しで商品を表示<br>
            <div class = 'text-right'>
              <%= link_to items_path do %>
                  全ての商品を見る＞
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </body>